$fa-font-path:   "../../node_modules/font-awesome/fonts";

@import '../../node_modules/font-awesome/scss/font-awesome.scss';
/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {

}

article {
width: 50em;
border-bottom: 1px solid #ddd;
}

h1 {

}
.imageplaceholder{
  background-size: contain; 
  background-repeat: no-repeat; 
  transition: width 0.5s;
  width: 50vw;
  @media screen and (max-width:400px){
          width: 100vw;
        }
}
img {
max-width: 100%;
transition: width 0.5s;
width: 50vw;
@media screen and (max-width:400px){
    width: 100vw;
}
}
