$fa-font-path:   "../../node_modules/font-awesome/fonts";

@import '../../node_modules/font-awesome/scss/font-awesome.scss';
/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/
.horseImage { 
  background: url('../images/horses.jpg?size=800')
 }

@media (max-width: 480px) {
  .horseImage { 
    background: url('../images/horses.jpg?size=300')
   }
}

body {

}

article {
width: 50em;
border-bottom: 1px solid #ddd;
}

h1 {

}

img {
max-width: 100%;
}
